
fastapi
uvicorn
langchain
langchain-community
langchain-chroma
sentence-transformers
pandas
python-dotenv
python-multipart
kagglehub
matplotlib
seaborn
numpy
langchain_openai
langchain_huggingface
tqdm
flask
transformers
ipywidgets

pandas
fastapi